body{
  background-color:#333;
  color: #eee;
  font-family: "Arial", sans-serif;

  width: 80%;
  margin: 10px auto 100px auto;
}

ul {
  list-style-type: none;
}

ul li {
  padding-bottom: 5px;
}

kbd {
  background-color: #272822;
  padding: 8px;
  border-radius: 5px;
}

.container {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

a {
  color: #FFF;
}

a:visited {
  color: #e3e3e3;
}

p {
  max-width: 44em;
  font-size: 18px;
  line-height: 1.5;
}

.note {
  max-width: 44em;
  color: #333;
  background-color: #ccc;
  border-radius: 5px;
  padding: 20px;
}

.preview { 
  position: relative;
  height: 100%;
  width: 100%;
      
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
        
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button.viewer-ui {
  color: #000;
  background: #BBB;
  border: 1px solid #FFF;
  border-radius: 12px;
  padding: 6px 8px;
  font-size: 16px;
  font-weight: bold;
} 

@media screen and (max-width: 920px ){

  .container {

    grid-template-columns: 1fr;

    width: 70%;
    margin: 0 auto;
  }

}
     
